<div class="car-comparator-container animated fadeIn">
    <div class="card ">
        <div class="card-header tw-bold ts-6">
            Puedes seleccionar hasta 3 carros para compararlos
        </div>
        <div class="card-body">
            <div class="row border-between">
                <app-car-comparator-cards [clicked]="compare" class="col-12 col-xl-4 col-lg-4 col-md-6"></app-car-comparator-cards>
                <app-car-comparator-cards [clicked]="compare" class="col-12 col-xl-4 col-lg-4 col-md-6"></app-car-comparator-cards>
                <app-car-comparator-cards [clicked]="compare" class="col-12 col-xl-4 col-lg-4 col-md-6"></app-car-comparator-cards>
            </div>
            <div class="mt-2"></div>
            <div class="alert alert-danger" role="alert" *ngIf="alert">
                <b>Por favor</b> seleccione mas de una opcion de marca y modelo de carro.
            </div>
            <hr>
            <button (click)="showSelected()" type="button" class="btn btn-danger btn-block" *ngIf="!compare">Comparar!</button>
            <button (click)="reloadComponent()" type="button" class="btn btn-danger btn-block" *ngIf="compare">Reiniciar!</button>
        </div>
    </div>
</div>