.card {
    margin-bottom: 25px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
    transition: 0.3s;
    position: relative;
}

.card:hover {
    -webkit-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 8px -3px rgba(0, 0, 0, 0.75);
    border: 0;
    border-radius: .25rem;
}

.card-body {
    position: relative;
    background-color: #2e2e2e;
}

.price-container {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.card-cursor-icon {
    position: absolute;
    top: 12px;
    right: 12px;
}