<div class="card card-comparator">
    <img class="card-img-top" src="./assets/img/cars/BMW/serie-2/BMW_s2_2018.jpg" alt="BMW Serie 2 2018">
    <div class="card-body">
        <div class="dropdown" style="margin-bottom: 15px;">
            <button class="btn btn-secondary dropdown-toggle btn-block btn-brand" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Marca
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
            </div>
        </div>
        <div class="dropdown" style="margin-bottom: 15px;">
            <button class="btn btn-secondary dropdown-toggle btn-block btn-brand" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Modelo
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
            </div>
        </div>
        <div class="selected-result">
            <hr>
            <h4>Ficha Técnica</h4>
            <hr>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>