/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F3F4 !important;
}

header {
    width: 100%;
    height: 420px;
    background-color: #E0202C;
    position: relative;
    padding: 25px;
}


/* General Colors Styles */

.tc-white {
    color: #FFFFFF !important;
}


/* General Font size style */

.ts-9 {
    font-size: 3.052em;
}

.ts-8 {
    font-size: 2.441em;
}

.ts-7 {
    font-size: 1.953em;
}


/* General Font size weight */

.tw-bolder {
    font-weight: 900 !important;
}

.tw-bold {
    font-weight: 700 !important;
}

.tw-medium {
    font-weight: 500 !important;
}

.tw-regular {
    font-weight: 400 !important;
}

.tw-light {
    font-weight: 300 !important;
}

.tw-thin {
    font-weight: 100 !important;
}


/* General background Colors Styles */

.bgc-red {
    background-color: #E0202C !important;
}

.bgc-black {
    background-color: #000000 !important;
}


/* ==========================================================================================
    Responsive breakpoints 
*/


/* Extra small devices (portrait phones, less than 576px) */

.car-brand-container {
    display: none;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .car-brand-container {
        display: none;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .car-brand-container {
        display: block;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .car-brand-container {
        display: block;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .car-brand-container {
        display: block;
    }
}