/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F2F3F4 !important;
}

header {
    width: 100%;
    height: 420px;
    background-color: #E0202C;
    position: relative;
    padding: 15px 25px;
}

footer {
    width: 100%;
    height: 120px;
    padding: 25px;
}

.m-active {
    border-bottom: 1px solid #FFFFFF;
}


/* General Colors Styles */

.tc-white {
    color: #FFFFFF !important;
}

.tc-red {
    color: #E0202C !important;
}

.tc-gray-light {
    color: #ADADAD !important;
}

.tc-black {
    color: #2e2e2e !important;
}


/* General Font size style */

.ts-9 {
    font-size: 3.052em;
}

.ts-8 {
    font-size: 2.441em;
}

.ts-7 {
    font-size: 1.953em;
}

.ts-6 {
    font-size: 1.563em;
}

.ts-5 {
    font-size: 1.25em;
}

.ts-4 {
    font-size: 1em;
}


/* General Font size weight */

.tw-bolder {
    font-weight: 900 !important;
}

.tw-bold {
    font-weight: 700 !important;
}

.tw-medium {
    font-weight: 500 !important;
}

.tw-regular {
    font-weight: 400 !important;
}

.tw-light {
    font-weight: 300 !important;
}

.tw-thin {
    font-weight: 100 !important;
}


/* General background Colors Styles */

.bgc-red {
    background-color: #E0202C !important;
}

.bgc-black {
    background-color: #2e2e2e !important;
}


/* HR Border Color */

.hr-white {
    border-top: 1px solid rgba(255, 255, 255, .65);
}


/* general col- class styles */

.border-between>[class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between>[class*='col-']:first-child:before {
    display: none;
}


/* ==========================================================================================
    Responsive breakpoints 
*/


/* Extra small devices (portrait phones, less than 576px) */

.car-brand-container {
    display: none;
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .car-brand-container {
        display: none;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .car-brand-container {
        display: block;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .car-brand-container {
        display: block;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .car-brand-container {
        display: block;
    }
}


/* Define Animation  */

.animated {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}