<div class="row">
    <div class="col-12 col-xl-4 col-lg-4 col-md-4">
        <div class="footer-logo">
            <a class="navbar-brand tc-white" href="#">
                <img src="./assets/img/header/car_icon.png" width="60" height="30" class="d-inline-block align-top" alt="">
                <span class="brand-text"> &nbsp; Encuentra tu carro</span>
            </a>
        </div>
    </div>
    <div class="col-12 col-xl-4 col-lg-4 col-md-4">
        <div style="text-align: center;">
            <a class="nav-link tc-white " href="https://www.linkedin.com/in/wrubiorojas "><i class="fa fa-linkedin-square " aria-hidden="true "></i> LinkedIn</a>
            <a class="nav-link tc-white " href="https://github.com/wrubio "><i class="fa fa-github-square " aria-hidden="true "></i> GitHub</a>
        </div>

    </div>

    <div class="col-12 col-xl-4 col-lg-4 col-md-4">
        <div class="anio">2019</div>
    </div>
</div>